'scopeName': 'source.txt'
'name': 'Endless Sky'
'fileTypes': [
  'txt'
]
'patterns': [
  {
    # # comment
    'match': "(#.*)$"
    'captures':
      '1':
        'name': 'punctuation.definition.comment.endlesssky'
  }
  {
    #   <placeholder>
    'match': '(<[A-Za-z]+>)'
    'captures':
      '1':
        'name': 'punctuation.definition.variable.endlesssky'
  }
  {
    #   `any 'text'`
    'match': "([`'\"])(.*)([`'\"])"
    'captures':
      '1':
        'name': 'punctuation.definition.string.begin.endlesssky'
      '2':
        'patterns': [
          {
            'include': '#texts'
          }
        ]
      '3':
        'name': 'punctuation.definition.string.end.endlesssky'
  }
  {
    #   (goto|label|branch) placeholder
    'match': '^\\s*(goto|label|branch)\\s+(.*)$'
    'captures':
      '1':
        'name': 'keyword.control.endlesssky'
      '2':
        'name': 'variable.other.normal.endlesssky'
  }
  {
    #   (on|to) something xyz
    'match': '^\\s*(([A-Za-z]{2})\\s+)?([A-Za-z]+)\\s*(.*)$'
    'captures':
      '2':
        'name': 'entity.name.tag.endlesssky'
      '3':
        'name': 'entity.name.tag.endlesssky'
      '4':
        'patterns': [
          {
            'include': '#texts'
          }
        ]
        'name': 'punctuation.definition.entry.endlesssky'
  }
]
'repository':
  'texts':
    'patterns': [
      {
        'match': '(<[A-Za-z]+>)'
        'name': 'punctuation.definition.variable.endlesssky'
      }
      {
        'match': '[^<>]*'
        'name': 'string.unquoted.yaml'
      }
    ]
